@import "tailwindcss";

:root {
    --background: #0B0F14;
    --foreground: #e0e0e0;

    --color-cyn: #17e8e1;
    --color-cyn-drt: #50aec8;
    --color-blu: #1f8cd9;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-grotesk: var(--font-space-grotesk);
    --font-orbit: var(--font-orbitron);

    /* colors */
    --color-cyn: var(--color-cyn);
    --color-blu: var(--color-blu);
    --color-cyn-drt: var(--color-cyn-drt);

    /* shdws */
    --shadow-wht-xs: 0 0 5px rgba(255, 255, 255, 0.2);

    --shadow-cyn-s: 0 0 5px 3px rgba(34, 211, 238, 1);
    --shadow-cyn-l: 0 0 10px 3px rgba(34, 211, 238, 1);

    --shadow-blu-s: 0 0 5px 3px rgba(31, 140, 217, 1);
    --shadow-blu-l: 0 0 10px 3px rgba(31, 140, 217, 1);

    /* txt shdws */
    --text-shadow-wht: 0 0 10px #fff;

    --text-shadow-cyn: 0 0 15px var(--color-cyn);
    --text-shadow-blu: 0 0 15px var(--color-blu);

    /* drop shdws */
    --drop-shadow-wht: 0 0 10px #fff;
}

body {
    background: var(--background);
    color: var(--foreground);
}

.app-bg {
    background:
        linear-gradient(135deg,
            rgb(12, 13, 18) 0%,
            rgb(24, 30, 45) 33%,
            rgb(20, 30, 45) 66%,
            rgb(15, 18, 30) 100%),
        repeating-linear-gradient(45deg,
            rgba(255, 255, 255, 0.015),
            rgba(255, 255, 255, 0.015) 1px,
            transparent 1px,
            transparent 6px);
}

.main-depth {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.04),
        inset 0 0 400px 100px rgba(0, 0, 0, 0.6);

}

/* BTN */
.nebula-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 10px 16px;
    border-radius: 4px;

    color: #eaffff;
    font-family: var(--font-orbit);
    font-weight: 500;
    font-size: 16px;

    background: linear-gradient(140deg,
            rgba(80, 175, 200, .7) 0%,
            rgba(0, 60, 80, .7) 100%);

    border: 1px solid var(--color-blu);

    transition: all 0.2s linear;
}

.nebula-btn:hover {
    filter: brightness(1.5);
    cursor: pointer;
}

.slate-block {
    border: 1px solid #273040;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 20px;

    background:
        linear-gradient(to bottom left,
            #202836,
            #0d0f17);
}


.input {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 4px;

    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;

    outline: 2px solid transparent;

    transition: all 150ms ease;
}


.input:focus {
    outline: 3px solid #1f8cd980;
    border-color: var(--color-blu);
}

.input-err {
    outline: 3px solid #db3a4880;
    border-color: #db3a48;
}

.input-err:focus {
    outline: 3px solid #db3a4880;
    border-color: #db3a48;
}